.Resume {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid #7abcac 50px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #7abcac;
}

.Resume-row {
  display: flex;
  justify-content: space-between;
}

.color-green {
  background-color: #7abcac;
}

.color-red {
  background-color: #c29486;
}

.color-yellow {
  background: #d8da79;
}
